@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Pure Software</h1>
    <p>Blair Harris <a href="www.linkedin.com/jonathanblairharris"></a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Welcome</h2>
        <p>
            TODO List is a simple web-based task list manager.
        </p>
    </div>
    <div class="col-md-4">
        <p>List of Users</p>
    </div>
    <div class="col-md-4">
        <h2>Download</h2>
    </div>
</div>